.field.col-md-6 {
    text-align: right; /* Aligne tout le contenu à droite */
  }
  
  .field.col-md-6 button {
    display: inline-block; /* Affiche les boutons sur la même ligne */
    margin-left: 10px; /* Ajoute un espacement entre les boutons */
  }
  