.project-illustration{
  background-size: 100% 100%;
}
.budget-chip {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.budget-chip:hover {
  background-color: #e9ecef;
}

.budget-chip-selected {
  background-color: #e7f3ff;
  border-color: #2196F3;
  color: #0d6efd;
  font-weight: 600;
}

//Champ ob
.required-field::after {
  content: " *";
  color: red;
  font-weight: bold;
}

/*  message d'erreur */
.field-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  display: block;
}



