<div class="flex">
  <div class="task-container bg-white h-full">
    <div style="padding:15px">
      <p class="font-bold">Liste de mes taches</p>
      <p-dropdown *appHasPermission="['view_all_project']" [options]="projects" [showClear]="true"  (onChange)="getAllMyTasks($event.value)"  [filter]="true" optionLabel="name"  placeholder="Projets"></p-dropdown>
      <p-dropdown *appHasPermission="['view_self_project']" [options]="projects" [showClear]="true"  (onChange)="getAllMyTasks($event.value)"  [filter]="true" optionLabel="name"  placeholder="Projets"></p-dropdown>

    </div>
    @if (isloading && phases.length !== 0){
      <div class="py-6 flex justify-content-center">
        <p-progressSpinner animationDuration=".5s" strokeWidth="5"></p-progressSpinner>
      </div>
    }

    <div *ngIf="phases.length === 0" class="text-center">
      <img class="w-3" src="../../../assets/image/empty.png" alt="">
      <h3>Aucune tâche</h3>

    </div>

    <div *ngFor="let phase of phases" routerLinkActive="task-card-active" [routerLink]="phase?.id" class="task-card">
      <div class="mt-2">
        <p class="font-medium">{{ phase?.name }}</p>
      </div>
      <div class="flex -mt-2 ">
        <div>
          <fa-icon size="1x" [icon]="faFlag"></fa-icon>
        </div>
        <div class="flex-wrap project-text">
          <p>
            {{ phase?.projectId }}
          </p>
        </div>
      </div>

      <div class="flex -mt-2">
        <div>
          <fa-icon size="1x" class="opacity-70" [icon]="faCalendar"></fa-icon>
        </div>
        <div class="flex-wrap project-text">
          <p>
            {{ phase?.plannedEndDate | date:'dd/MM/yyyy' }}
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="details">
      <router-outlet></router-outlet>
  </div>

</div>
