.side-title{
  font-size: 0.8rem;
}

/* Cacher la scrollbar mais garder le scroll */
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
