.custom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .full-width-row {
    grid-column: 1 / -1; /* Étend sur toute la largeur */
  }
  
  .phases-department-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .phases-section, 
  .department-section {
    flex: 1;
  }
  
  .permissions-section {
    margin-top: 1rem;
  }
  
  .custom-grid .p-col-12 {
    display: flex;
    align-items: center;
  }
  
  .custom-grid p {
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .custom-grid p i {
    margin-right: 0.5rem;
  }
  
  .custom-grid p strong {
    font-weight: bold;
  }
  
  /* Styles pour l'en-tête (restent les mêmes) */
  .custom-header {
    color: inherit;
  }
  
  .orange-icon {
    color: #FF7043;
    margin-right: 0.5rem;
  }
  
  .custom-header i {
    font-size: 1.5rem;
    color: #FF7043;
  }
  
  .custom-header span {
    color: #FF7043;
  }
  
  .orange-text {
    color: #FF7043;
    font-weight: bold;
  }