<button (click)="handleShow()" pButton *ngIf="mode == 'create'" label="Nouveau département" icon="pi pi-plus"></button>
<button (click)="handleShow()" pButton *ngIf="mode == 'edit'" icon="pi pi-pencil" class="p-button-rounded"></button>


<p-dialog header="Nouveau département" appendTo="body" [modal]="true" [style]="{width: '800px'}" [(visible)]="showForm">

  <div>
    <form id="departmentForm" [formGroup]="departmentForm" (ngSubmit)="handleSubmit()">

      <div class="field">
        <label for="name">Nom</label>
        <input placeholder="ex : Stratégie" formControlName="name" pInputText id="name" />
      </div>

      <div class="field">
        <label for="manager">Manager</label>
        <p-dropdown formControlName="managerCuid" optionValue="cuid" [showClear]="true" emptyMessage="Aucune proposition trouvé !" emptyFilterMessage="Aucune proposition trouvé !" appendTo="body" [filter]="true" [options]="users" id="manager" placeholder="Manager">

          <ng-template pTemplate="filter" let-options="options">
            <div class="flex gap-1">
              <div class="p-inputgroup" (click)="$event.stopPropagation()">
                <span class="p-inputgroup-addon bg-white"><i class="pi pi-search"></i></span>
                <input
                  type="text"
                  pInputText
                  placeholder="Rechercher ..."
                  formControlName="filterValue"
                  (input)="handleFilter($event)" />
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-content-start gap-3">
              <div class="flex-1">{{ selectedOption.displayname??selectedOption.displayName }}</div>
              <div><p-badge [value]="selectedOption.cuid"></p-badge></div>
            </div>
          </ng-template>

          <ng-template pTemplate="item" let-item>
            <div class="flex align-items-center gap-2">
              <fa-icon [icon]="faUser"></fa-icon>
              <div class="flex-1">{{ item.displayname??item.displayName }}</div>
              <div class="mr-2"><p-badge [value]="item.cuid"></p-badge></div>
            </div>
          </ng-template>

        </p-dropdown>
      </div>


      <div class="field">
        <label for="direction">Direction</label>
        <p-dropdown filterBy="name,description" formControlName="directionId" optionValue="id" [showClear]="true" emptyMessage="Aucune proposition trouvé !" emptyFilterMessage="Aucune proposition trouvé !" appendTo="body" [filter]="true" [options]="directions" id="direction" placeholder="Direction">
          <ng-template pTemplate="item" let-item>
            <div class="flex align-items-center gap-2">
              <fa-icon [icon]="faBuilding"></fa-icon>
              <div class="flex-1">{{ item.description }}</div>
              <div class="mr-2"><p-badge [value]="item.name"></p-badge></div>
            </div>
          </ng-template>

          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-content-start gap-2">
              <fa-icon class="text-primary font-bold" [icon]="faBuilding"></fa-icon>
              <div class="flex-1">
                  {{ selectedOption.description }} / {{ selectedOption.name }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

    </form>
  </div>

  <ng-template pTemplate="footer">
    <button (click)="showForm = false" pButton class="p-button-danger mr-2 p-button-outlined">Annuler</button>
    <button type="submit" form="departmentForm" [loading]="processing" pButton>Enregistrer</button>
  </ng-template>

</p-dialog>
