::ng-deep .dropdown-custom .p-dropdown {
  height: 48px !important;
  
  .p-dropdown-label {
    padding-top: 0.8rem !important;
    font-size: 1rem !important;
  }
  
  border-radius: 10px !important;
}