<button pButton class="p-button-success" icon="pi pi-plus" label="Ajouter reproduction" (click)="handleShow()"
    *ngIf="mode==='create'"></button>

<p-dialog header="Suivi Reproduction" [(visible)]="showForm" [modal]="true" [style]="{width: '700px'}" appendTo="body">

    <form [formGroup]="form" (ngSubmit)="handleSubmit()">



        <!-- creation uniquement -->
        <!-- Afficher en create ET edit, mais disabled en edit -->
        <div class="field">
            <label>Truie</label>
            <p-dropdown [options]="truies" formControlName="truieCode" [disabled]="mode==='edit'"></p-dropdown>
        </div>

        <div class="field">
            <label>Verrat</label>
            <p-dropdown [options]="verrats" formControlName="verratCode" [disabled]="mode==='edit'"></p-dropdown>
        </div>

        <div class="field">
            <label>Date Saillie</label>
            <p-calendar formControlName="dateSaillie" dateFormat="dd/mm/yy" [showIcon]="true" [disabled]="mode==='edit'"
                [style]="{'width': '100%'}">
            </p-calendar>
        </div>

        <div class="field">
            <label>Observations</label>
            <input pInputText formControlName="observations">
        </div>

        <!-- maj uniquement -->
        <div class="field" *ngIf="mode==='edit'">
            <label>Date Mise Bas Prévue</label>
            <p-calendar formControlName="dateMiseBasPrevue" [disabled]="true"></p-calendar>
        </div>

        <div class="field" *ngIf="mode==='edit'">
            <label>Date Mise Bas Réelle</label>
            <p-calendar formControlName="dateMiseBasReelle"></p-calendar>
        </div>

    
        <div class="field" *ngIf="mode==='edit'">
            <label>Nb Nés Vivants</label>
            <div class="flex gap-2 align-items-center">
                <input pInputText formControlName="nbNesVivants" 
                    type="number" class="flex-1">
                <button pButton type="button" icon="pi pi-minus" 
                        class="p-button-rounded p-button-danger p-button-sm"
                        (click)="decrement('nbNesVivants')">
                </button>
                <button pButton type="button" icon="pi pi-plus" 
                        class="p-button-rounded p-button-success p-button-sm"
                        (click)="increment('nbNesVivants')">
                </button>
            </div>
        </div>

 
                <div class="field" *ngIf="mode==='edit'">
            <label>Nb Morts Nés</label>
            <div class="flex gap-2 align-items-center">
                <input pInputText formControlName="nbMortsNes" 
                    type="number" class="flex-1">
                <button pButton type="button" icon="pi pi-minus" 
                        class="p-button-rounded p-button-danger p-button-sm"
                        (click)="decrement('nbMortsNes')">
                </button>
                <button pButton type="button" icon="pi pi-plus" 
                        class="p-button-rounded p-button-success p-button-sm"
                        (click)="increment('nbMortsNes')">
                </button>
            </div>
        </div>

   

                <div class="field" *ngIf="mode==='edit'">
            <label>Nb Sevrés</label>
            <div class="flex gap-2 align-items-center">
                <input pInputText formControlName="nbSevres" 
                    type="number" class="flex-1">
                <button pButton type="button" icon="pi pi-minus" 
                        class="p-button-rounded p-button-danger p-button-sm"
                        (click)="decrement('nbSevres')">
                </button>
                <button pButton type="button" icon="pi pi-plus" 
                        class="p-button-rounded p-button-success p-button-sm"
                        (click)="increment('nbSevres')">
                </button>
            </div>
        </div>

        <div class="field" *ngIf="mode==='edit'">
            <label>Observations</label>
            <input pInputText formControlName="observations">
        </div>


    </form>

    <ng-template pTemplate="footer">
        <button type="button" pButton label="Annuler" class="p-button-outlined mr-2" (click)="showForm=false">
        </button>

        <button type="submit" pButton label="Enregistrer" [disabled]="form.invalid" [loading]="processing"
            class="p-button-success" (click)="handleSubmit()">
        </button>
    </ng-template>

</p-dialog>