<div>
  <div class="bg-white mb-3 p-3 odyssey-shadow-low border-round">
    <div class="flex gap-3 align-items-center">
      <div class="flex-1">
        <h5 class="m-0">Gestion des départements</h5>
      </div>
      <div fxFlex="300px">
        <div class="p-inputgroup">
          <input type="search" pInputText class="w-full" placeholder="Rechercher" 
                 [(ngModel)]="searchQuery" 
                 (input)="onSearch($event)" />
          <button type="button" pButton icon="pi pi-search" (click)="searchDepartments()"></button>
        </div>
      </div>
      <div>
        <app-department-form (onUpdate)="loadData()"></app-department-form>
      </div>
    </div>
  </div>

  <div class="bg-white odyssey-shadow-low mb-7">
    <p-table [loading]="loading" 
             [lazy]="true" 
             [rows]="pageSize"
             [totalRecords]="departments.totalElements"
             (onLazyLoad)="handleNext($event)" 
             [rowsPerPageOptions]="[10,30,40]" 
             [value]="departments.content" 
             [paginator]="true">  
             
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="description">Nom <p-sortIcon field="description"></p-sortIcon></th>
          <th pSortableColumn="name">Direction <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="director">Manager <p-sortIcon field="director"></p-sortIcon></th>
          <th style="text-align: center;">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-department>
        <tr>
          <td>
            <span class="p-column-title">Nom</span>
            <strong>{{ department.name }}</strong>
          </td>
          <td>
            <span class="p-column-title">Direction</span>
            <span> <fa-icon [icon]="faBuilding" class="mr-2 text-primary"></fa-icon> {{ department.direction?.description }}</span>
          </td>
          <td>
            <span class="p-column-title">Manager</span>
            @if (department.managerName) {
              <div class="flex align-items-center">
                <i class="pi pi-user text-primary mr-2"></i>
                <span class="p-tag p-tag-rounded p-tag-info">{{ department.managerName }}</span>
              </div>
            } @else if (department.managerCuid) {
              <div class="flex align-items-center">
                <i class="pi pi-user text-secondary mr-2"></i>
                <span class="p-tag p-tag-rounded p-tag-secondary">{{ department.managerCuid }}</span>
              </div>
            }
          </td>
          <td>
            <div class="flex gap-2 justify-content-center">
              <app-department-form [target]="department" mode="edit" (onUpdate)="loadData()"></app-department-form>
              <button pButton class="p-button-danger p-button-rounded" icon="pi pi-trash" (click)="confirmDelete(department)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" class="text-center p-4">
            <h1 class="font-normal m-0">Aucun département trouvé !</h1>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div>Total: {{departments.totalElements}} départements</div>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog appendTo="body" [style]="{width: '450px'}"></p-confirmDialog>