<p-dialog
  header="{{ mode === 'create' ? '🧪 Nouveau traitement' : '✏️ Modifier traitement' }}"
  [(visible)]="showForm"
  [modal]="true"
  [baseZIndex]="9000"
  [style]="{ width: '900px' }"
  styleClass="ultra-dialog"
  appendTo="body"
  (onHide)="closeDialog()"
>

  <form [formGroup]="traitementForm" (ngSubmit)="handleSubmit()" class="form-grid">

    <div class="field">
      <label>Nom du traitement</label>
      <input
        pInputText
        formControlName="nom"
        placeholder="Vaccination, Antibiothérapie..."
      />
    </div>

    <div class="field">
      <label>Description</label>
      <textarea
        pInputTextarea
        rows="5"
        formControlName="description"
        placeholder="Detail du traitement"
      ></textarea>
    </div>

  </form>

  <ng-template pTemplate="footer">
    <div class="dialog-footer">
      <button
        pButton
        type="button"
        label="Annuler"
        class="p-button-outlined"
        (click)="closeDialog()"
      ></button>

      <button
        pButton
        type="submit"
        label="Enregistrer"
        class="p-button-success"
        [disabled]="traitementForm.invalid || processing"
        (click)="handleSubmit()"
      ></button>
    </div>
  </ng-template>

</p-dialog>
