<button style="background-color: rgba(0,0,0,0.47); margin-bottom: 20px !important; margin-right: 13px" *ngIf="mode == 'create'" class="p-button-sm" pButton (click)="handleShowForm()" icon="pi pi-plus" label="Nouvel intervenant"></button>

<p-dialog appendTo="body" [modal]="true" [dismissableMask]="true" [style]="{width: '600px'}" [(visible)]="showForm">

  <ng-template pTemplate="header">
    <h4 class="m-0">Outils d'importation d'utilisateur</h4>
  </ng-template>

  <div class="pt-2">

    <div class="field">
      <input (input)="searchUser($event)" pInputText type="search" placeholder="Rechercher un utilisateur">
    </div>

    <div>
      <p-table [value]="users">
        <ng-template pTemplate="header">
          <tr>
            <th>Cuid</th>
            <th>Nom & Prénoms</th>
            <th> Action </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.cuid }}</td>
            <td class="font-bold">{{ user.displayname }}</td>
            <td>
              <button (click)="handleImport(user)" class="p-button-outlined" pButton icon="pi pi-download"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>

  <ng-template pTemplate="footer">
    <button [loading]="processing" (click)="showForm = false" pButton label="Fermer" class="p-button-danger"></button>
  </ng-template>
</p-dialog>

<p-dialog header="Importation" appendTo="body" [modal]="true" [style]="{width: '600px'}" [(visible)]="showImporterForm">

  <form id="intervenantForm" [formGroup]="intervenantForm" (ngSubmit)="submitForm()">
    <div>
      <div class="flex gap-3">
        <p-avatar icon="pi pi-user" class="mr-2" size="large" />
        <div>
          <p>{{toImport?.displayname}}</p>
          <p style="margin-top:-15px">{{toImport?.cuid}}</p>
        </div>
      </div>

      <div class="field">
        <label for="memberEmail">Email</label>
        <input id="memberEmail" formControlName="memberEmail" type="email" pInputText>
      </div>

      <div class="field">
        <label for="role">Rôle</label>
        <p-dropdown id="role" formControlName="role" placeholder="Sélectionner un rôle" appendTo="body" [emptyMessage]="emptyMessage" optionLabel="name" optionValue="id" [options]="roles"></p-dropdown>
      </div>

      <div class="field">
        <label for="phases">Phases</label>
        <p-multiSelect id="phases" formControlName="phases" placeholder="Sélectionner une ou plusieurs phase(s)" appendTo="body" optionLabel="name" optionValue="id" [options]="projectDetails?.phases"></p-multiSelect>
      </div>
      <div class="field">
        <label for="permissionsIntervenant">Permissions</label>
        <p-multiSelect id="permissionsIntervenant"
        formControlName="permissionsIntervenant"
        placeholder="Sélectionner une ou plusieurs permissions"
        appendTo="body"
        optionLabel="name"
        optionValue="id"
        [options]="permissions">
      </p-multiSelect>
      </div>


      <div class="field">
        <label for="validator">Validateur ?</label>
        <p-selectButton
          formControlName="sendMail"
          id="sendMail"
          [options]="sendMail"
        ></p-selectButton>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button class="mr-2 p-button-outlined p-button-danger" pButton label="Annuler" (click)="showImporterForm = false"></button>
    <button [loading]="processing" [disabled]="!intervenantForm.valid" type="submit" form="intervenantForm" pButton label="Enregistrer"></button>
  </ng-template>
</p-dialog>
