<button *ngIf="mode == 'button'" (click)="showTask()" class="p-button-sm p-button-outlined p-button-contrast" icon="pi pi-plus-circle" pButton label="Ajouter une tache"></button>

<div (click)="showTask()" *ngIf="mode == 'preview'" class="bg-white cursor-pointer odyssey-shadow-low border-round mb-2 p-2">
  <div>
    {{ task.title }}
  </div>
  <div class="flex w-full gap-3 mt-2">
    <p-tag (click)="$event.stopImmediatePropagation();statusOp.toggle($event)" styleClass="cursor-pointer" [severity]="task.statusSeverity" [value]="task.statusLabel"></p-tag>
    <div class="flex gap-2">
      @for (user of task.executors; track user.id) {
        <p-tag icon="pi pi-user" severity="contrast" [value]="user?.user?.displayName"></p-tag>
      }
    </div>
    <div class="flex-1"></div>
    <div class="text-gray-500 flex gap-2 align-items-center">
      @if (task.plannedEndDate) {
        {{ task.plannedEndDate | date: 'dd/MM/yyyy' }}
        @if (task.status == 'COMPLETED') {
          <div [class.bg-green-500]="task.dateGap < 0" [class.bg-red-500]="task.dateGap >= 0" class="px-1 font-medium flex align-items-center border-round text-white"> <i class="pi pi-calendar-clock mr-1"></i> <span> {{ task.dateGap > 0 ? '+' : '' }}{{ task.dateGap }}</span> </div>
        }
      } @else {
        -
      }
    </div>
  </div>
</div>


<p-sidebar position="right" [modal]="true" [style]="{width: '900px'}" [appendTo]="'body'" [(visible)]="showDialog" [dismissible]="true">
  <ng-template pTemplate="header">

    <div class="w-full">
      <input [(ngModel)]="task.title" placeholder="Tache" type="text" class="border-round w-full text-xl font-bold px-2 border-none">
    </div>

  </ng-template>
  <div *ngIf="taskForm != undefined">

    <form id="form" [formGroup]="taskForm!" (ngSubmit)="handleSave()" class="pt-2">

      <div class="gap-3 flex">
        <div class="flex w-7 flex-column">

          <div>
            <div (click)="datesPop.toggle($event)" class="flex cursor-pointer hover:bg-orange-200 gap-2 p-2 border-round surface-200 align-items-center">

              @if (taskForm.value.startDate != undefined && taskForm.value.plannedEndDate != undefined) {
                <div class="flex gap-2 font-medium">
                  <span>{{ taskForm.value.startDate | date: 'dd/M' }}</span> - <span class="font-medium">{{ taskForm.value.plannedEndDate | date: 'dd/MM/yyyy HH:mm' }}</span>
                </div>
              } @else {
                <i class="pi pi-calendar-times"></i><span>Dates</span>
              }
            </div>

            <div class="mb-2 font-bold">
              <div (click)="executorsPop.toggle($event)" class="flex mt-2 cursor-pointer hover:bg-orange-200 gap-2 p-2 border-round surface-200 align-items-center">
                <i class="pi pi-users"></i> <span>{{ selectedExecutor?.displayname??'Choisir le porteur' }}</span>
              </div>
            </div>

          </div>

          <div>
            <div class="field">
              <label for="description">Description</label>
              <textarea rows="6" placeholder="Description de la tache" class="surface-200" id="description" pInputTextarea formControlName="description"></textarea>
            </div>
          </div>

        </div>

        <div class="w-5">
          <div>
            <div class="field">
              <p-tag class="cursor-pointer" (click)="statusOp.toggle($event);" icon="pi pi-angle-down" [severity]="task.statusSeverity" [value]="task.statusLabel"></p-tag>
            </div>

            <div class="mt-3">
              <h4 class="mt-0 mb-1">Documents</h4>
              <app-files-uploader (uploadDone)="loadTaskAttachments()" [uploadUrl]="filesUploadUrl" mode="surface"></app-files-uploader>
            </div>

            <div class="mt-2 flex flex-column gap-2">

              @for (file of attachments; track file.id) {
                <div>
                  <div class="flex gap-2 align-items-center">
                    <i class="pi pi-file"></i>
                    <div class="flex-1">
                      <a [download]="file.name" [href]="downloadBaseURL+'/'+file.id" target="_blank">{{ file.name }}</a>
                    </div>
                  </div>
                </div>
              }

            </div>

          </div>
        </div>
      </div>


    </form>

  </div>
  <ng-template pTemplate="footer">
    <div class="flex gap-3">
      <button [disabled]="processing" pButton class="p-button-sm p-button-outlined" icon="pi pi-times" label="Annuler" (click)="showDialog = false"></button>
      <button [loading]="processing" pButton class="p-button-sm p-button-contrast" icon="pi pi-save" label="Sauvegarder" (click)="handleSave()"></button>
    </div>
  </ng-template>
</p-sidebar>


<p-overlayPanel appendTo="body" #datesPop>

  <div>
    <h4 class="m-0">Dates de la tache</h4>
  </div>

  <div id="inline-calendar">
    <p-calendar [(ngModel)]="dates" selectionMode="range" [inline]="true"></p-calendar>
  </div>

  <div class="flex gap-2 mt-2">
    <div class="field">
      <label for="start">Debut</label>
      <input id="start" type="text" readonly [ngModel]="dates[0] | date: 'dd/MM/yyyy'"/>
    </div>
    <div class="field">
      <label for="end">Date de fin</label>
      <input id="end" type="text" readonly [ngModel]="dates[1] | date: 'dd/MM/yyyy'"/>
    </div>
  </div>


  @if (dates[1] != undefined) {

    <div class="field">
      <label for="duration">Heure de fin</label>
      <input id="duration" type="time" [(ngModel)]="endTime"/>
    </div>

  }

  <button (click)="handleSelectDate(); datesPop.hide();" icon="pi pi-save" class="p-button-sm w-full" pButton label="Enregistrer"></button>

</p-overlayPanel>
<p-overlayPanel #executorsPop>

  <div class="field w-30rem">
    <label for="executeurs">Pourteurs de la taches</label>
    <p-dropdown dataKey="cuid" [(ngModel)]="selectedExecutor" optionLabel="displayname" [showClear]="true" emptyMessage="Aucune proposition trouvé !" emptyFilterMessage="Aucune proposition trouvé !" appendTo="body" [filter]="true" [options]="users" id="executeurs" placeholder="Pourteurs">

      <ng-template pTemplate="filter" let-options="options">
        <div class="flex gap-1">
          <div class="p-inputgroup" (click)="$event.stopPropagation()">
            <span class="p-inputgroup-addon bg-white"><i class="pi pi-search"></i></span>
            <input
              type="text"
              pInputText
              placeholder="Rechercher ..."
              (input)="handleFilter($event)" />
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="item" let-item>
        <div class="flex align-items-center gap-2">
          <fa-icon [icon]="faUser"></fa-icon>
          <div class="flex-1">{{ item.displayname??item.displayName }}</div>
          <div class="mr-2"><p-badge [value]="item.cuid"></p-badge></div>
        </div>
      </ng-template>

    </p-dropdown>


    <div class="mt-3">
      <button (click)="executorsPop.hide();" class="p-button-sm w-full" pButton label="Enregistrer" icon="pi pi-save"></button>
    </div>

  </div>

</p-overlayPanel>


<p-overlayPanel #statusOp appendTo="body">

  <div class="mb-2">
    Changer de status
  </div>

  <p-selectButton [(ngModel)]="task.status" [options]="statusOptions"></p-selectButton>

  <button (click)="statusOp.hide(); handleChangeStatus()" pButton label="Enregistrer" class="mt-3 p-button-sm p-button-contrast"></button>

</p-overlayPanel>
